@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
  }
  
  #root {
    height: 100%;
  }
  
  .min-h-screen {
    height: auto;
    min-height: 100vh;
    overflow-y: auto; 
  }
  /* Scroll dizayn */
body::-webkit-scrollbar {
    width: 8px; /* Scroll kengligi */
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track rangi */
  }
  
  body::-webkit-scrollbar-thumb {
    background: #888; /* Scroll tugmasi rangi */
    border-radius: 4px; /* Yumuq burchaklar */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover effekti */
  }
  